Repository bounswe/bounswe2024group7, pull requests merged in 2024-04, with the labels that each got.

#65 Open pull request for mobileApp branch
  artifact_MobileApp/.gitignore
  artifact_MobileApp/App.js
  artifact_MobileApp/Home.js
  artifact_MobileApp/Login.js
  artifact_MobileApp/SearchBar.js
  artifact_MobileApp/Signup.js
  artifact_MobileApp/app.json
  artifact_MobileApp/assets/adaptive-icon.png
  artifact_MobileApp/assets/favicon.png
  artifact_MobileApp/assets/icon.png
  artifact_MobileApp/assets/splash.png
  artifact_MobileApp/babel.config.js
  artifact_MobileApp/package-lock.json
  artifact_MobileApp/package.json
Labels: status: review needed, priority: high, front-end, mobile

#72 fix module not found error and update status
  artifact_backend/artifactapp/views.py
  artifact_backend/requirements.txt
Labels: priority: critical, type: bug, back-end

#75 add search bar and get response
  artifact_backend/artifactapp/urls.py
  frontend/src/components/RegisterComponent.component.jsx
  frontend/src/components/SearchBar.component.jsx
  frontend/src/components/loginCard.component.jsx
  frontend/src/components/navigationResponsive.component.jsx
  frontend/src/routes/__root.jsx
  frontend/src/routes/login.jsx
  frontend/src/routes/register.jsx
Labels: priority: critical, status: complete, front-end, back-end

#84 Create README.MD for the Frontend application
  frontend/README.md
  frontend/vite.config.js
Labels: priority: critical, status: complete, front-end

#76 74 connect mobile apps functions to backend
  artifact_MobileApp/Api.js
  artifact_MobileApp/App.js
  artifact_MobileApp/AuthContext.js
  artifact_MobileApp/Home.js
  artifact_MobileApp/Login.js
  artifact_MobileApp/SearchBar.js
  artifact_MobileApp/Signup.js
  artifact_MobileApp/package-lock.json
  artifact_MobileApp/package.json
  artifact_backend/artifact/settings.py
Labels: status: review needed, priority: critical, back-end, mobile
