Repository bounswe/bounswe2024group7, pull requests merged in 2024-12, with the labels that each got.

#271 Issue#261 Change Training Program Model
  backend/demo-group7/src/main/java/com/group7/demo/dtos/TrainingProgramRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/TrainingProgramResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/WeekRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/WeekResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/WorkoutExerciseRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/WorkoutExerciseResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/WorkoutRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/WorkoutResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/mapper/Mapper.java
  backend/demo-group7/src/main/java/com/group7/demo/models/TrainingProgram.java
  backend/demo-group7/src/main/java/com/group7/demo/models/Week.java
  backend/demo-group7/src/main/java/com/group7/demo/models/Workout.java
  backend/demo-group7/src/main/java/com/group7/demo/models/WorkoutExercise.java
  backend/demo-group7/src/main/java/com/group7/demo/models/enums/ProgramLevel.java
  backend/demo-group7/src/main/java/com/group7/demo/models/enums/ProgramType.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
Labels: back-end

#273 Created complete exercise endpoint
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TrainingProgramController.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/WorkoutExerciseWithTrackingRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
Labels: back-end

#277 Issue#276 endpoint for exercise based progress over time
  backend/demo-group7/src/main/java/com/group7/demo/configs/SecurityConfiguration.java
  backend/demo-group7/src/main/java/com/group7/demo/controllers/ExerciseController.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/ExerciseProgress.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/ExerciseProgressResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/WorkoutExerciseWithTrackingRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/ExerciseService.java
Labels: back-end

#279 Survey Service Update
  backend/demo-group7/src/main/java/com/group7/demo/controllers/SurveyController.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/LoginResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/RegisterRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/SurveyRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/SurveyResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/UserProfileResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/models/Survey.java
  backend/demo-group7/src/main/java/com/group7/demo/models/User.java
  backend/demo-group7/src/main/java/com/group7/demo/models/enums/Role.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/SurveyRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/SurveyService.java
  backend/demo-group7/src/test/java/com/group7/demo/AuthenticationServiceTest.java
Labels: type: enhancement, priority: high, type: feature request, back-end

#274 Add Feedback Service
  backend/demo-group7/src/main/java/com/group7/demo/controllers/FeedbackController.java
  backend/demo-group7/src/main/java/com/group7/demo/controllers/SearchController.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/FeedbackRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/FeedbackResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/mapper/Mapper.java
  backend/demo-group7/src/main/java/com/group7/demo/models/Feedback.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/FeedbackRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/FeedbackService.java
  backend/demo-group7/src/main/java/com/group7/demo/services/SearchService.java
  backend/demo-group7/src/main/resources/application.properties
Labels: type: enhancement, status: review needed, priority: high, type: feature request, back-end

#282 Merge Weekly Completion Endpoint
  .gitignore
  backend/demo-group7/.gitignore
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TrainingProgramController.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
Labels: type: feature request, back-end

#286 Issue 283 - Add Survey To Register Page
  mobile/App.js
  mobile/components/Register.js
  mobile/components/Survey.js
Labels: type: enhancement, status: review needed, priority: high, type: feature request, mobile

#289 Change Survey Identifier to username
  backend/demo-group7/src/main/java/com/group7/demo/controllers/SurveyController.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/SurveyRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/UserRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/SurveyService.java
Labels: type: feature request, back-end

#287 Add trainign program rating mechanism
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TrainingProgramController.java
  backend/demo-group7/src/main/java/com/group7/demo/models/TrainingProgramRating.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/TrainingProgramRatingRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/TrainingProgramWithTrackingRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
Labels: priority: high, back-end

#293 Progress Graph Added
  mobile/components/Home.js
  mobile/components/ProfilePage.js
  mobile/components/ProgressTracker.js
  mobile/package-lock.json
  mobile/package.json
Labels: type: enhancement, status: review needed, priority: high, mobile

#295 Update create program
  mobile/components/CreateProgram.js
  mobile/components/common/SpinboxInput.js
Labels: type: enhancement, status: feedback needed, priority: high, type: feature request, mobile

#300 Add interest areas and level to user register
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/RegisterComponent.component.jsx
  frontend/src/components/navigationResponsive.component.jsx
Labels: priority: critical, status: complete, front-end

#302 Added lastCompletedWorkoutDate to TrainingProgramWithTrackingResponse
  backend/demo-group7/src/main/java/com/group7/demo/dtos/TrainingProgramWithTrackingResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/mapper/Mapper.java
Labels: back-end

#307 Update ProgramFeedCard trainerUsername to trainer
  frontend/src/components/ProgramFeedCard.component.jsx
Labels: front-end

#309 fix handleStartPracticing
  frontend/src/components/ProgramFeedCard.component.jsx
Labels: front-end

#312 Remove ProgressToday from feed page
  frontend/src/components/PostFeed.component.jsx
Labels: front-end

#298 edited create program modal according to new endpoint structure
  frontend/src/components/CreatePostModal.component.jsx
  frontend/src/components/CreateProgramModal.component.jsx
  frontend/src/components/searchPage.component.jsx
  frontend/src/context/AppContext.jsx
  frontend/src/routeTree.gen.ts
Labels: type: enhancement, status: review needed, priority: high, front-end

#314 added Locale English to the uppercase function
  backend/demo-group7/src/main/java/com/group7/demo/services/SurveyService.java
Labels: priority: medium, type: bug, status: complete, back-end

#296 Training Program Added
  mobile/components/CreatePost.js
  mobile/components/Feed.js
  mobile/components/PostCard.js
  mobile/components/PostDetail.js
  mobile/components/ProfilePage.js
  mobile/components/UserProfile.js
Labels: type: enhancement, status: review needed, priority: medium, mobile

#322 Training program updated
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Detailed_Ex_Modal.component.jsx
  frontend/src/components/Detailed_Training_Modal.component.jsx
  frontend/src/components/Detailed_Workout_Modal.component.jsx
  frontend/src/components/PostFeedCard.component.jsx
  frontend/src/components/ProgramFeedCard.component.jsx
  frontend/src/components/Training.component.jsx
  frontend/src/constants/paths.js
  frontend/src/main.jsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/training.jsx
Labels: status: review needed, priority: critical, front-end

#326 Connect workout and week progress
  mobile/App.js
  mobile/components/JoinedProgramCard.js
  mobile/components/JoinedProgramDetail.js
  mobile/components/JoinedWeek.js
  mobile/components/JoinedWorkout.js
  mobile/components/ProfilePage.js
  mobile/package-lock.json
  mobile/package.json
Labels: type: enhancement, priority: critical, status: feedback needed, type: feature request, mobile

#329 Issue#327 create new endpoints for training programs
  backend/demo-group7/src/main/java/com/group7/demo/configs/SecurityConfiguration.java
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TrainingProgramController.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
Labels: back-end

#333 transition from start to completed
  frontend/src/components/Detailed_Ex_Modal.component.jsx
  frontend/src/components/Training.component.jsx
  frontend/src/context/UserContext.jsx
Labels: front-end

#338 Implemented order by likes in descending order
  backend/demo-group7/src/main/java/com/group7/demo/repository/PostRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/PostService.java
Labels: priority: medium, status: complete, type: feature request, back-end

#340 Add completion percentage to training program response
  backend/demo-group7/src/main/java/com/group7/demo/dtos/TrainingProgramWithTrackingResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/WeekWithTrackingResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/WorkoutWithTrackingResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/mapper/Mapper.java
Labels: back-end

#343 Update styles for mobile responsive Feed page
  frontend/src/components/PostFeed.component.jsx
Labels: front-end

#345 implemented recommendation to trainingPrograms
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TrainingProgramController.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/TrainingProgramRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
Labels: priority: critical, status: complete, back-end, type: new feature

#347 add progress data to profile page
  frontend/src/components/profilePage.component.jsx
  frontend/src/context/AppContext.jsx
  frontend/src/context/UserContext.jsx
Labels: front-end

#349 Add user from context
  frontend/src/components/Training.component.jsx
Labels: front-end

#351 Change interval definition the rest days
  frontend/src/components/CreateProgramModal.component.jsx
Labels: front-end

#344 Add supporting features to training program
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PostFeed.component.jsx
  frontend/src/components/ProgressGraphs.component.jsx
  frontend/src/components/Training.component.jsx
  frontend/src/components/UserJoinedProgramsCard.component.jsx
  frontend/src/components/profilePage.component.jsx
Labels: priority: high, type: feature request, front-end, type: new feature

#354 fix user profile bug on joined programs
  frontend/src/components/UserJoinedProgramsCard.component.jsx
Labels: front-end

#356 fix Training page require reload to progress
  frontend/src/components/Detailed_Ex_Modal.component.jsx
  frontend/src/components/Training.component.jsx
Labels: front-end

#358 Fix 404 on Training page
  frontend/src/components/Training.component.jsx
  frontend/src/components/UserJoinedProgramsCard.component.jsx
Labels: front-end

#359 ask user to rest
  frontend/src/components/ProgramFeedCard.component.jsx
  frontend/src/components/RestModal.component.jsx
  frontend/src/components/Training.component.jsx
  frontend/src/components/UserJoinedProgramsCard.component.jsx
Labels: front-end

#328 Issue#324 - Add Search Mechanism Mobile
  mobile/App.js
  mobile/components/Home.js
  mobile/components/PostCard.js
  mobile/components/SearchBar.js
  mobile/components/SearchPage.js
  mobile/components/SearchResults.js
  mobile/package-lock.json
  mobile/package.json
Labels: type: enhancement, status: review needed, priority: critical, mobile

#362 Changed muscle groups for feedback
  backend/demo-group7/src/main/java/com/group7/demo/dtos/FeedbackRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/FeedbackResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/mapper/Mapper.java
  backend/demo-group7/src/main/java/com/group7/demo/models/Feedback.java
  backend/demo-group7/src/main/java/com/group7/demo/models/enums/FeedbackMuscle.java
  backend/demo-group7/src/main/java/com/group7/demo/services/FeedbackService.java
Labels: back-end

#366 Add explore and for you posts
  frontend/src/components/PostFeed.component.jsx
  frontend/src/context/PostContext.jsx
Labels: front-end

#364 Add rating for mobile
  mobile/components/JoinedProgramCard.js
  mobile/components/JoinedProgramDetail.js
  mobile/package-lock.json
  mobile/package.json
Labels: priority: critical, mobile

#369 Fix programs bug on feed page
  frontend/src/components/CreatePostModal.component.jsx
  frontend/src/components/PostFeed.component.jsx
  frontend/src/components/PostFeedCard.component.jsx
  frontend/src/components/UserJoinedProgramsCard.component.jsx
  frontend/src/context/PostContext.jsx
Labels: front-end

#371 added feedback and display page
  frontend/src/components/FeedbackModal.component.jsx
  frontend/src/components/ProgramFeedCard.component.jsx
  frontend/src/components/TrainerFeedbackModal.component.jsx
  frontend/src/components/TrainerProgramCard.component.jsx
  frontend/src/components/profilePage.component.jsx
  frontend/src/constants/feedbackMuscles.js
  frontend/src/context/FeedbackContext.jsx
Labels: status: review needed, priority: critical, type: feature request, front-end

#374 fixed the bug in search
  frontend/src/components/searchPage.component.jsx
  package-lock.json
Labels: priority: critical, type: bug, status: feedback needed, front-end

#376 Now both Trainer and Trainee can view the Progress Graphs
  frontend/src/components/ProgressGraphs.component.jsx
  frontend/src/components/profilePage.component.jsx
Labels: type: bug, front-end

#379 Implemented unit test for Exercise Service
  backend/demo-group7/src/test/java/com/group7/demo/ExerciseServiceTest.java
Labels: back-end

#381 Added 9 tests for Post endpoints and 9 passes
  backend/demo-group7/src/test/java/com/group7/demo/PostControllerTest.java
Labels: priority: medium, back-end
