Repository bounswe/bounswe2024group7, pull requests merged in 2024-10, with the labels that each got.

#146 Issue#145 create authorization endpoints
  backend/demo-group7/src/main/java/com/group7/demo/configs/SecurityConfiguration.java
  backend/demo-group7/src/main/java/com/group7/demo/configs/SessionAuthenticationFilter.java
  backend/demo-group7/src/main/java/com/group7/demo/controllers/AuthenticationController.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/LoginRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/LoginResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/RegisterRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/models/Role.java
  backend/demo-group7/src/main/java/com/group7/demo/models/User.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/UserRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/AuthenticationService.java
Labels: status: review needed, priority: high, back-end

#154 Issue#153 create profile endpoints
  backend/demo-group7/src/main/java/com/group7/demo/configs/SecurityConfiguration.java
  backend/demo-group7/src/main/java/com/group7/demo/controllers/AuthenticationController.java
  backend/demo-group7/src/main/java/com/group7/demo/controllers/UserController.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/UserProfileResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/models/User.java
  backend/demo-group7/src/main/java/com/group7/demo/services/AuthenticationService.java
  backend/demo-group7/src/main/java/com/group7/demo/services/UserService.java
Labels: back-end

#151 Issue#149 connect web frontend and backend
  backend/demo-group7/Dockerfile
  backend/demo-group7/pom.xml
  backend/demo-group7/src/main/java/com/group7/demo/configs/SecurityConfiguration.java
  backend/demo-group7/src/main/java/com/group7/demo/configs/SessionAuthenticationFilter.java
  backend/demo-group7/src/main/java/com/group7/demo/controllers/AuthenticationController.java
  backend/demo-group7/src/main/java/com/group7/demo/services/AuthenticationService.java
  docker-compose.yaml
  frontend/Dockerfile
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/CreatePostModal.component.jsx
  frontend/src/components/PostFeed.component.jsx
  frontend/src/components/PostFeedCard.component.jsx
  frontend/src/components/RegisterComponent.component.jsx
  frontend/src/components/StepForm.component.jsx
  frontend/src/components/label.component.jsx
  frontend/src/components/loginCard.component.jsx
  frontend/src/components/navigationResponsive.component.jsx
  frontend/src/components/postView.component.jsx
  frontend/src/components/searchBar.component.jsx
  frontend/src/components/searchResult.component.jsx
  frontend/src/components/searchResults.component.jsx
  frontend/src/constants/paths.js
  frontend/src/context/PostContext.jsx
  frontend/src/context/index.js
  frontend/src/context/local.js
  frontend/src/context/user.js
  frontend/src/icons/BookmarkAddIcon.jsx
  frontend/src/icons/BookmarkCheckIcon.jsx
  frontend/src/icons/BookmarkRemoveIcon.jsx
  frontend/src/icons/HeartIcon.jsx
  frontend/src/icons/PlusIcon.jsx
  frontend/src/icons/ThreeDotsIcon.jsx
  frontend/src/index.html
  frontend/src/instance/apiInstance.js
  frontend/src/main.jsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/__root.jsx
  frontend/src/routes/index.jsx
  frontend/src/routes/login.jsx
  frontend/src/routes/register.jsx
  frontend/src/utility/string.js
  frontend/vite.config.js
Labels: status: review needed, priority: critical, type: feature request, front-end

#169 Issue#166 return posts of specific user
  backend/demo-group7/src/main/java/com/group7/demo/controllers/PostController.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/UserProfileResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/PostRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/PostService.java
  backend/demo-group7/src/main/java/com/group7/demo/services/UserService.java
Labels: back-end

#172 Added validation and authentication for creating and deleting programs
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TrainingProgramController.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/TrainingProgramRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
Labels: back-end

#174 Issue#173 create endpoint for getting training program for user
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TrainingProgramController.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/UserProfileResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/TrainingProgramRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
  backend/demo-group7/src/main/java/com/group7/demo/services/UserService.java
Labels: back-end
