Repository bounswe/bounswe2024group7, pull requests merged in 2024-11, with the labels that each got.

#187 branch-issue#186
  mobile/App.js
  mobile/components/Create.js
  mobile/components/CreatePost.js
  mobile/components/CreateProgram.js
  mobile/components/Feed.js
  mobile/components/Home.js
  mobile/components/PostCard.js
  mobile/components/ProfilePage.js
  mobile/package-lock.json
  mobile/package.json
Labels: type: enhancement, priority: medium, status: in progress, type: feature request, mobile

#194 Added Search Feature to Mobile Application
  mobile/App.js
  mobile/components/Home.js
  mobile/components/Label.js
  mobile/components/SearchBar.js
  mobile/components/SearchResult.js
  mobile/components/SearchResults.js
  mobile/package-lock.json
  mobile/package.json
Labels: status: review needed, priority: high, type: feature request, mobile

#200 Connected Login and Register with backend
  mobile/Api.js
  mobile/components/Login.js
  mobile/components/Register.js
  mobile/package-lock.json
  mobile/package.json
Labels: type: enhancement, status: feedback needed, priority: high, type: feature request, mobile

#207 Issue#203 share training program in posts
  backend/demo-group7/src/main/java/com/group7/demo/dtos/PostRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/PostResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/mapper/CustomerMapper.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/mapper/Mapper.java
  backend/demo-group7/src/main/java/com/group7/demo/models/Post.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/UserRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/PostService.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
  backend/demo-group7/src/main/java/com/group7/demo/services/UserService.java
Labels: type: enhancement, priority: high, back-end

#213 Issue#212 Add AppContext and return Exercises
  frontend/src/context/AppContext.jsx
  frontend/src/routes/__root.jsx
Labels: status: complete, priority: low, front-end

#218 Issue 192 program page
  .gitignore
  frontend/package-lock.json
  frontend/src/components/ProgramCard.component.jsx
  frontend/src/components/ProgressBoard.component.jsx
  frontend/src/constants/paths.js
  frontend/src/main.jsx
  frontend/src/routes/program.jsx
  frontend/src/routes/progress.jsx
  jsconfig.json
Labels: priority: high, front-end

#221 Add modified training programs in the response for tracking endpoints
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TrainingProgramController.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
Labels: back-end

#222 Add optional image url field to posts
  backend/demo-group7/src/main/java/com/group7/demo/dtos/PostRequest.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/PostResponse.java
  backend/demo-group7/src/main/java/com/group7/demo/dtos/mapper/Mapper.java
  backend/demo-group7/src/main/java/com/group7/demo/models/Post.java
  backend/demo-group7/src/main/java/com/group7/demo/services/PostService.java
Labels: back-end

#223 Add Search Endpoint
  .gitignore
  backend/demo-group7/.gitignore
  backend/demo-group7/src/main/java/com/group7/demo/controllers/SearchController.java
  backend/demo-group7/src/main/java/com/group7/demo/models/Post.java
  backend/demo-group7/src/main/java/com/group7/demo/models/TrainingProgram.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/ExerciseRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/PostRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/TrainingProgramRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/SearchService.java
Labels: priority: critical, status: feedback needed, back-end

#224 Add Tag Endpoint
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TagController.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/TagRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TagService.java
Labels: back-end

#228 Refactor training program tracking mechanism
  backend/demo-group7/src/main/java/com/group7/demo/controllers/TrainingProgramController.java
  backend/demo-group7/src/main/java/com/group7/demo/repository/UserTrainingProgramRepository.java
  backend/demo-group7/src/main/java/com/group7/demo/services/TrainingProgramService.java
Labels: back-end

#238 added search bar and result page
  frontend/src/components/searchPage.component.jsx
  frontend/src/routeTree.gen.ts
Labels: status: complete, priority: high, type: feature request, front-end

#240 Add api/tags to security config permitted endpoints
  backend/demo-group7/src/main/java/com/group7/demo/configs/SecurityConfiguration.java
Labels: priority: critical, status: complete, back-end

#243 Create post, like and bookmark
  frontend/src/components/CreatePostModal.component.jsx
  frontend/src/components/PostFeedCard.component.jsx
  frontend/src/context/PostContext.jsx
  frontend/src/context/UserContext.jsx
Labels: front-end

#247 Connect CreatePost with backend
  mobile/components/Create.js
  mobile/components/CreateDietProgram.js
  mobile/components/CreatePost.js
  mobile/components/CreateProgram.js
  mobile/components/Home.js
Labels: type: enhancement, priority: critical, status: feedback needed, type: feature request, mobile

#249 added modal post view
  frontend/src/components/PostFeedCard.component.jsx
Labels: type: enhancement, status: complete, priority: high, front-end

#251 Added follow and unfollow functionality that is responsive for user p…
  mobile/components/UserProfile.js
Labels: priority: medium, status: complete, type: feature request, mobile
