Repository bounswe/bounswe2024group7, pull requests merged in 2024-05, with the labels that each got.

#87 Completed the readme for backend project
  artifact_backend/README.md
Labels: type: documentation, status: review needed, priority: high, back-end

#102 Disable search button if no input
  frontend/src/components/SearchBar.component.jsx
  frontend/src/components/searchBar.component.jsx
Labels: status: complete, priority: low, front-end

#100 Issue#98 frontend post and search
  artifact_backend/artifactapp/migrations/0001_initial.py
  artifact_backend/artifactapp/search.py
  frontend/src/components/SearchBar.component.jsx
  frontend/src/components/label.component.jsx
  frontend/src/components/navigationResponsive.component.jsx
  frontend/src/components/postView.component.jsx
  frontend/src/components/searchBar.component.jsx
  frontend/src/components/searchResult.component.jsx
  frontend/src/components/searchResults.component.jsx
  frontend/src/main.jsx
  frontend/src/routes/__root.jsx
  frontend/src/routes/index.jsx
  frontend/src/routes/login.jsx
Labels: status: review needed, priority: critical, type: feature request, front-end, back-end

#121 Issue#115 create post web
  .gitignore
  artifact_MobileApp/Login.js
  artifact_MobileApp/PostCard.js
  artifact_backend/artifact/settings.py
  artifact_backend/artifactapp/apps.py
  artifact_backend/artifactapp/migrations/0001_initial.py
  artifact_backend/artifactapp/models.py
  artifact_backend/artifactapp/permissions.py
  artifact_backend/artifactapp/serializers/__init__.py
  artifact_backend/artifactapp/serializers/auth.py
  artifact_backend/artifactapp/serializers/bookmark.py
  artifact_backend/artifactapp/serializers/comment.py
  artifact_backend/artifactapp/serializers/image.py
  artifact_backend/artifactapp/serializers/label.py
  artifact_backend/artifactapp/serializers/like.py
  artifact_backend/artifactapp/serializers/post.py
  artifact_backend/artifactapp/serializers/profile.py
  artifact_backend/artifactapp/signals.py
  artifact_backend/artifactapp/urls.py
  artifact_backend/artifactapp/views/__init__.py
  artifact_backend/artifactapp/views/auth.py
  artifact_backend/artifactapp/views/bookmark.py
  artifact_backend/artifactapp/views/comment.py
  artifact_backend/artifactapp/views/follow.py
  artifact_backend/artifactapp/views/image.py
  artifact_backend/artifactapp/views/label.py
  artifact_backend/artifactapp/views/like.py
  artifact_backend/artifactapp/views/post.py
  artifact_backend/artifactapp/views/profile.py
  artifact_backend/artifactapp/views/swagger.py
  artifact_backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CreatePostModal.component.jsx
  frontend/src/components/PostFeed,component.jsx
  frontend/src/components/PostFeedCard.component.jsx
  frontend/src/components/SearchBar.component.jsx
  frontend/src/components/StepForm.component.jsx
  frontend/src/components/label.component.jsx
  frontend/src/components/loginCard.component.jsx
  frontend/src/components/navigationResponsive.component.jsx
  frontend/src/components/searchBar.component.jsx
  frontend/src/components/searchResult.component.jsx
  frontend/src/components/searchResults.component.jsx
  frontend/src/context/PostContext.jsx
  frontend/src/context/user.js
  frontend/src/icons/BookmarkAddIcon.jsx
  frontend/src/icons/BookmarkCheckIcon.jsx
  frontend/src/icons/BookmarkRemoveIcon.jsx
  frontend/src/icons/HeartIcon.jsx
  frontend/src/icons/PlusIcon.jsx
  frontend/src/icons/ThreeDotsIcon.jsx
  frontend/src/instance/apiInstance.js
  frontend/src/main.jsx
  frontend/src/routes/__root.jsx
  frontend/src/routes/index.jsx
Labels: priority: critical, front-end, back-end
